<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href={{url_for('static', filename='css/styles.css')}}>
  <link rel="stylesheet" href={{url_for('static', filename='css/bootstrap.min.css')}}>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Page Not Found | Social Connect</title>
</head>

<body>
  <div class="container">
    <h1 class="text-center" style="color:#efefef; padding-top: 250px">ERROR - Something went wrong</h1>
  </div>
  <script src={{url_for('static', filename='js/jquery-3.2.1.slim.min.js')}}></script>
  <script src={{url_for('static', filename='js/popper.min.js')}}></script>
  <script src={{url_for('static', filename='js/bootstrap.min.js')}}></script>
</body>

</html>
