<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href={{url_for('static', filename='css/styles.css')}}>
  <link rel="stylesheet" href={{url_for('static', filename='css/bootstrap.min.css')}}>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Social Connect</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Edit Profile</h5>
            <form class="form-signin" action="{{ url_for('update_user_info') }}" method="post">
              <div class="form-label-group">
                <input type="email" id="inputEmail" name="email" class="form-control" value={{email}} placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="FirstName" name="FirstName" class="form-control" value={{fname}} placeholder="First name" required>
                <label for="FirstName">First name</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="LastName" name="LastName" class="form-control" value={{lname}} placeholder="Last name" required>
                <label for="LastName">Last name</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" name="password" class="form-control" value={{password}} placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="FacebookID" name="FacebookID" class="form-control" value={{fb_link}} placeholder="Facebook Account Link" autofocus>
                <label for="FacebookID">Facebook</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="InstagramID" name="InstagramID" class="form-control" value={{insta_link}} placeholder="Instagram Account Link" autofocus>
                <label for="InstagramID">Instagram</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="TwitterId" name="TwitterId" class="form-control" value={{twitter_link}} placeholder="Twitter Account Link" autofocus>
                <label for="TwitterId">Twitter</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="SnapchatID" name="SnapchatID" class="form-control" value={{snap_link}} placeholder="Snapchat Account Link" autofocus>
                <label for="SnapchatID">Snapchat</label>
              </div>

              <hr class="my-4">
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Update Information</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src={{url_for('static', filename='js/jquery-3.2.1.slim.min.js')}}></script>
  <script src={{url_for('static', filename='js/popper.min.js')}}></script>
  <script src={{url_for('static', filename='js/bootstrap.min.js')}}></script>
</body>

</html>
