<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="stylesheet" href={{url_for('static', filename='css/styles.css')}}>
      <link rel="stylesheet" href={{url_for('static', filename='css/bootstrap.min.css')}}>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Social Connect</title>
</head>
<body>
    <div class="container">
      <h1 class="text-center">Login</h1>
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="http_redirect('http://localhost:5000/login/')" type="submit">Login</button>
                  <hr class="my-4">
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="http_redirect('http://localhost:5000/signup/')" type="submit">Sign Up</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        function http_redirect(url) {
          // redirects the page to passed url
          window.location.href = url;
        }
      </script>
      <script src={{url_for('static', filename='js/jquery-3.2.1.slim.min.js')}}></script>
      <script src={{url_for('static', filename='js/popper.min.js')}}></script>
      <script src={{url_for('static', filename='js/bootstrap.min.js')}}></script>
</body>
</html>
