<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href={{url_for('static', filename='css/profile.css')}}>
  <link rel="stylesheet" href={{url_for('static', filename='css/bootstrap.min.css')}}>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Social Connect</title>
</head>
<body>

  <div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">{{ fname }} {{ lname }}</h3>

            <div class="row">
              <div class="col-sm-6">
              <!-- Instagram -->
              <div class="card" style="width: 14rem;">
                <img class="card-img-top" src={{url_for("static", filename="assets/chair_lady.png")}} alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Instagram</p>
                </div>
              </div>

              </div>
              <br/>

            <div class="col-sm-6">
              <div class="card" style="width: 14rem;">
                <img class="card-img-top" src={{url_for("static", filename="assets/chair_lady2.png")}} alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Facebook</p>
                </div>
              </div>

            </div>
            </div>

            <div class="row">
            <div class="col-sm-6">
              <div class="card" style="width: 14rem;">
                <img class="card-img-top" src={{url_for("static", filename="assets/lady_standing.png")}} alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Twitter</p>
                </div>
              </div>
            </div>

            <br/>

            <div class="col-sm-6">
              <div class="card" style="width: 14rem;">
                <img class="card-img-top" src={{url_for("static", filename="assets/man_walking.png")}} alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Snapchat</p>
                </div>
              </div>
            </div>
          </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Bootstrap essentials -->
  <script src={{url_for('static', filename='js/jquery-3.2.1.slim.min.js')}}></script>
  <script src={{url_for('static', filename='js/popper.min.js')}}></script>
  <script src={{url_for('static', filename='js/bootstrap.min.js')}}></script>
</body>
</html>
