<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href={{url_for('static', filename='css/profile.css')}}>
  <link rel="stylesheet" href={{url_for('static', filename='css/bootstrap.min.css')}}>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Social Connect</title>
</head>
<body>

  <div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">FirstName LastName</h3>

              <!-- Instagram -->
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <img src={{url_for('static', filename='assets/instagram_logo.png')}} width=35px height=35px>
                  <h6 class="card-subtitle mb-2 text-muted">Instagram</h6>
                </div>
              </div>

              <!-- Facebook -->
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <img src={{url_for('static', filename='assets/facebook_logo.png')}} width=35px height=35px>
                  <h6 class="card-subtitle mb-2 text-muted">Facebook</h6>
                </div>
              </div>

              <!-- Snapchat -->
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <img src={{url_for('static', filename='assets/snapchat_logo.png')}} width=35px height=35px>
                  <h6 class="card-subtitle mb-2 text-muted">Snapchat</h6>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Bootstrap essentials -->
  <script src={{url_for('static', filename='js/jquery-3.2.1.slim.min.js')}}></script>
  <script src={{url_for('static', filename='js/popper.min.js')}}></script>
  <script src={{url_for('static', filename='js/bootstrap.min.js')}}></script>
</body>
</html>
